body{
	font-family: 'Rubik', sans-serif;
    background: #260202;
    color: aqua;
}
h1 a{
    color: #5fe86f;
    text-decoration: none;
}
.menu{
    display: inline-block;
	background:#4E4A4A;
	color: aqua;
	padding: 15px;
    border: none;
}
.menu>a{
	color: aqua;
    text-decoration: none;
}
.letras03{
    color: #1e1ea0;
    font-weight: bold;
    font-size: 16px;
    
}

ol li a{
    text-decoration: none;
    color: aqua;
}

h2{
    color: #ef0f6d;
    font-size: 25px;
    font-weight: bold;
}
p{
    display: block;
    border: 20px;
    padding: 20px;
    
}
table{
    border: 2px solid #04571D;
	background: #04571D;
    color: black;
}
th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #04571D;
	background: #ffff;
}
thead{
	background: #04571D;
	color: aliceblue;
}
.fondo-ht td{
	background: #04571D;
}

.fondo-tfood td{
    background: #1a267b;
    text-align: center;
    color: aliceblue;
}